## CMPINF 2100 Week 02

### Arithmetic operators, data types, and overloading

Basic arithmetic operators such as addition, `+`, and  multiplication, `*`, work as you would expect with integers and floats. For example let's use Python as a calculator add 4 and 8 together.

In [1]:
4 + 8

12

Next, let's multiply 4 and 8:

In [2]:
4 * 8

32

We get the expected results when we work with floats as well.

In [3]:
print( 4.0 + 8.0 )

print( 4.0 * 8.0 )

12.0
32.0

Python understands the operation associated with `+` and `*`. However, the **exact operation depends on the data type of the objects the operator is applied to**! Instead of working with numeric objects (integers or floats) let's instead work with strings. We will write out the words for the numbers, `'four'` and `'eight'`. What happens if we "add" the two strings together?

In [4]:
'four' + 'eight'

'foureight'

Python combines the two strings together into a single string. This is a useful shortcut for *concatenating* multiple strings together. For example, we could include a space between the two words:

In [5]:
'four' + ' ' + 'eight'

'four eight'

Next, let's consider the `*` operator. Instead of working with two strings, we will use the `'four'` string by itself. Let's see what happens if we multiply the integer `4` by the string `'four'`:

In [6]:
4 * 'four'

'fourfourfourfour'

The result is a little difficult to read. So let's instead work with a string, `'four '` which has an extra white space at the end of the string:

In [7]:
4 * 'four '

'four four four four '

When we are working with strings the `*` operator represents **replicating** or **repeating** the string a specified number of times. 

Next, let's see how these operators behave when we are working with lists. The cell below defines two lists, `x1` and `x2`.

In [8]:
x1 = [1, 2, 3, 4]

x2 = ['one', 'two', 'three', 'four']

The `+` operator combines the two lists together:

In [9]:
x1 + x2

[1, 2, 3, 4, 'one', 'two', 'three', 'four']

However, the original lists are not modified:

In [10]:
print(x1)

print(x2)

print(x1 + x2)

[1, 2, 3, 4]
['one', 'two', 'three', 'four']
[1, 2, 3, 4, 'one', 'two', 'three', 'four']

The `*` operator also **replicates** the entire content of the list. The result is returned as a list, and the original list is not modified.

In [11]:
print( 3 * x1 )

print( type(3 * x1) )

print(x1)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
<class 'list'>
[1, 2, 3, 4]

### Conclusion

The `+` and `*` operators are **overloaded**. Their operation depends on the data types of the objects they are being applied to. We must therefore pay attention to the variables we are working with. **The results of basic arithmetic operations can change based on the data type!** If data types are not what we expect them to be, we can get surprising results! For example, let's say we want to multiply 4 with 8:

In [12]:
4 * 8

32

However, what if we are working with a challenging task and we have so many lines of code we do not realize that the number `8` has been converted to a string, `'8'`. Python does not view these values as the same:

In [13]:
8 == '8'

False

The basic arithmetic operation of 4 multiplied with 8 now returns:

In [14]:
4 * '8'

'8888'

It is critical that we pay attention to not only the operations we are executing, but the data types we are applying the operations to!